/*  CABECALHO ================================================================= */

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
} 

/*   ================================================================= */

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) { /* o filho que é multiplo de quatro vai: */
    margin-right: 0;

}

.conteudoPrincipal-cursos-link:nth-child(4n) { /* 4n+1 = o cara qeu vem logo depois do quarto elemento */
    margin-left: 0;

}
/* por que o numero 1 foi tambem? porque a conta começa em 4 * 0 depois + 1 = 1 */


/*   ================================================================= */

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column; /* começa com row (pros lados), column vai de baixo pra cima */
    flex-wrap: wrap; /* quebra a proxima coluna  */
    /* flex-flow: column wrap; */
    height: 260px;
}


/*  RODAPÉ ================================================================= */

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

/* ================================================================= */
/* ================================================================= */
/* ============= MOBILE ==================================================== */

.cabecalhoPrincipal-nav {
    flex-direction: column;
}

.cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;;
    text-align: center;
}
